{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
<h1 style="margin-left: 15px;"><u>My courses</u></h1>
<div class="module" style="margin-left: 15px;">
    {% for course in object_list %}
    <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
            <a href="{% url 'courses:course_edit' course.id %}" style="color: rgb(37, 223, 83); margin-right: 15px;">Edit</a>
            <a href="{% url 'courses:course_delete' course.id %}" style="color: rgb(37, 223, 83); margin-right: 15px;">Delete</a>
            <a href="{% url 'courses:course_module_update' course.id %}" style="color: rgb(37, 223, 83);">Edit modules</a>
            {% if course.modules.count > 0 %}
<a href="{% url 'courses:module_content_list' course.modules.first.id%}">Manage contents</a>
{% endif %}
        </p>
    </div>
    {% empty %}
    <p>You haven't created any courses yet.</p>
    {% endfor %}
    <p>
        <a href="{% url 'courses:course_create' %}" class="btn btn-success" style="margin-left: 5px;">Create new course</a>
    </p>
</div>
{% endblock %}